VITE_API_BASE_URL=http://localhost:4144/v1
VITE_KEYCLOAK_CLIENT_ID=tenant-management-system-6014
VITE_KEYCLOAK_LOGOUT_URL=https://dev.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/logout
VITE_KEYCLOAK_REALM=standard
VITE_KEYCLOAK_URL=https://dev.loginproxy.gov.bc.ca/auth
