:3000 {
    log {
        output stdout
        format console
        level {$LOG_LEVEL}
    }
    root * /srv
    encode zstd gzip
    file_server

    # Serve configuration file
    handle /config/default.json {
        header Content-Type application/json
        respond `{
            "api": {
                "baseUrl": "/api/v1"
            },
            "basicBceidBroker": "bceidboth",
            "businessBceidBroker": "bceidboth",
            "idirBroker": "azureidir",
            "oidc": {
                "clientId": "{$LOGIN_PROXY_CLIENT_ID}",
                "logoutUrl": "https://{$LOGIN_PROXY_HOST_NAME}/auth/realms/standard/protocol/openid-connect/logout",
                "realm": "standard",
                "serverUrl": "https://{$LOGIN_PROXY_HOST_NAME}/auth"
            }
        }` 200
    }

    @spa_router {
        not path /api* /config* /docs*
        file {
            try_files {path} /index.html
        }
    }
    rewrite @spa_router {http.matchers.file.relative}

    handle /docs* {
        reverse_proxy {$BACKEND_URL} {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
        }
    }

    handle_path /api/* {
        reverse_proxy {$BACKEND_URL} {
            header_up Host {upstream_hostport}
            header_up X-Real-IP {remote_host}
        }
    }

    header {
        -Server
        Cache-Control "no-cache, must-revalidate"
        Content-Security-Policy "base-uri 'self';
            connect-src 'self'
                https://dev.loginproxy.gov.bc.ca/
                https://test.loginproxy.gov.bc.ca/
                https://loginproxy.gov.bc.ca/;
            default-src 'none';
            font-src 'self';
            form-action 'self';
            frame-ancestors 'self';
            frame-src 'self'
                https://dev.loginproxy.gov.bc.ca/
                https://test.loginproxy.gov.bc.ca/
                https://loginproxy.gov.bc.ca/;
            img-src 'self';
            script-src 'self' 'unsafe-inline';
            style-src 'self' 'unsafe-inline';
            upgrade-insecure-requests;"
        Cross-Origin-Opener-Policy "same-origin"
        Cross-Origin-Resource-Policy "same-origin"
        Permissions-Policy "camera=(), fullscreen=(self), microphone=()"
        Referrer-Policy "same-origin"
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
    }
}

:3001 {
    handle /health {
        respond "OK"
    }
}
