ALLOWED_ORIGINS='*'
BCGOV_SSO_API_CLIENT_ID='client-id'
BCGOV_SSO_API_CLIENT_SECRET='secret'
BCGOV_SSO_API_URL='https://api.loginproxy.gov.bc.ca/api/v1/dev/idir/users'
BCGOV_SSO_API_URL_BCEID='https://api.loginproxy.gov.bc.ca/api/v1/integrations/{integrationId}/dev/bceid/users'
BCGOV_TOKEN_URL='https://loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/token'
ISSUER=https://dev.loginproxy.gov.bc.ca/auth/realms/standard
JWKS_URI=https://dev.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/certs
LOG_LEVEL=info
PORT=4144
POSTGRES_DATABASE='tmsdb'
POSTGRES_HOST='postgres'
POSTGRES_PASSWORD='mysecretpassword'
POSTGRES_PORT=5432
POSTGRES_USER='tms'
TMS_AUDIENCE=tenant-management-system-6014
