ALLOWED_ORIGINS='*'
BCGOV_SSO_API_CLIENT_ID='client-id'
BCGOV_SSO_API_CLIENT_SECRET='secret'
BCGOV_SSO_API_URL='https://api.loginproxy.gov.bc.ca/api/v1/dev/idir/users'
BCGOV_SSO_API_URL_BCEID='https://api.loginproxy.gov.bc.ca/api/v1/integrations/{integrationId}/dev/bceid/users'
BCGOV_TOKEN_URL='https://loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/token'
ISSUER=https://dev.loginproxy.gov.bc.ca/auth/realms/standard
JWKS_URI=https://dev.loginproxy.gov.bc.ca/auth/realms/standard/protocol/openid-connect/certs
LOG_LEVEL=info
PORT=4144
POSTGRES_DATABASE='tmsdb'
POSTGRES_HOST='postgres'
POSTGRES_PASSWORD='mysecretpassword'
POSTGRES_PORT=5432
POSTGRES_USER='tms'
TMS_AUDIENCE=tenant-management-system-6014
ASSERTION_ISSUER=http://localhost:4144
ASSERTION_KEY_ID=local-cstar-assertion-key-1
ASSERTION_EXPIRES_IN_SECONDS=600
ASSERTION_PUBLIC_KEY=PUB KEY HERE (single line fmt)
ASSERTION_PRIVATE_KEY=PVT KEY HERE (single line fmt)
# CHES notifications
CHES_TOKEN_URL=https://dev.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token
CHES_API_URL=https://ches-dev.api.gov.bc.ca/api/v1/email
CHES_CLIENT_ID=chesclientId
CHES_CLIENT_SECRET=chesClientSecret
ADMIN_NOTIFICATION_EMAIL=someone@gov.bc.ca
APP_BASE_URL=http://localhost:5173
