E2E_IDIR_USERNAME=admin
E2E_IDIR_PASSWORD=admin
E2E_MFA_CODE=$$$$
BASE_URL=http://localhost:5173/
E2E_AUTH_MODE=keycloak
E2E_KEYCLOAK_URL=http://localhost:8082
E2E_KEYCLOAK_USERNAME=cstar-e2e-user
E2E_KEYCLOAK_PASSWORD=e2euser