name: Build Images

on:
  workflow_call:
    inputs:
      keep_versions:
        description: "How many versions to keep in the registry"
        required: false
        type: number
        default: 50
      tags:
        description: "Comma-separated tags to use for built images (e.g. 'latest,prod')"
        required: false
        type: string
        default: latest

permissions:
  packages: write

jobs:
  build:
    name: Build Images
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - name: Build and push image
        uses: bcgov/action-builder-ghcr@8489f0ddc8342896e2b57e476620ae2c774ef070
        with:
          keep_versions: ${{ inputs.keep_versions }}
          package: ${{ matrix.package }}
          tags: ${{ inputs.tags }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')