name: Merge

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '.github/**'
      - '.github/graphics/**'
      - '!.github/workflows/**'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to use for the deployment (default: latest)'
        type: string
        default: latest

concurrency:
  # Do not interrupt previous workflows
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions: {}

jobs:
  builds:
    name: Builds
    uses: ./.github/workflows/.build-images.yml
    permissions:
      packages: write
    with:
      tags: |
        ${{ inputs.tag || 'latest' }}
  
  # Make deploy-test depend on builds
  deploy-test:
    name: Deploy (TEST)
    needs: [builds]
    uses: ./.github/workflows/.deployer.yml
    secrets: inherit
    with:
      environment: test
      db_user: app
      tag: ${{ inputs.tag || 'latest' }}

  update_test_secrets:
    name: Update Test Secrets
    needs: [deploy-test]
    uses: ./.github/workflows/.update-secrets.yml
    with:
      release_name: ${{ github.event.repository.name }}-test
      environment: test
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
      bcgov_sso_api_client_id: ${{ secrets.BCGOV_SSO_API_CLIENT_ID }}
      bcgov_sso_api_client_secret: ${{ secrets.BCGOV_SSO_API_CLIENT_SECRET }}
      vite_keycloak_client_id: ${{ secrets.VITE_KEYCLOAK_CLIENT_ID }}

  deploy-prod:
    name: Deploy (PROD)
    needs: [update_test_secrets]
    uses: ./.github/workflows/.deployer.yml
    secrets: inherit
    with:
      environment: prod
      db_user: app
      params: >-
        --set backend.deploymentStrategy=RollingUpdate
        --set frontend.deploymentStrategy=RollingUpdate
        --set global.autoscaling=true
        --set frontend.pdb.enabled=true
        --set backend.pdb.enabled=true
      tag: ${{ inputs.tag || 'latest' }}

  update_prod_secrets:
    name: Update Prod Secrets
    needs: [deploy-prod]
    uses: ./.github/workflows/.update-secrets.yml
    with:
      release_name: ${{ github.event.repository.name }}-prod
      environment: prod
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
      bcgov_sso_api_client_id: ${{ secrets.BCGOV_SSO_API_CLIENT_ID }}
      bcgov_sso_api_client_secret: ${{ secrets.BCGOV_SSO_API_CLIENT_SECRET }}
      vite_keycloak_client_id: ${{ secrets.VITE_KEYCLOAK_CLIENT_ID }}

  promote:
    name: Promote Images
    needs: [deploy-prod, update_prod_secrets]
    runs-on: ubuntu-24.04
    permissions:
      packages: write
    strategy:
      matrix:
        package: [migrations, backend, frontend]
    timeout-minutes: 1
    steps:
      - uses: shrink/actions-docker-registry-tag@f04afd0559f66b288586792eb150f45136a927fa # v4
        with:
          registry: ghcr.io
          repository: ${{ github.repository }}/${{ matrix.package }}
          target: ${{ needs.deploy-prod.outputs.tag}}
          tags: latest