name: PR Closed

on:
  pull_request:
    types: [closed]

concurrency:
  # PR open and close use the same group, allowing only one at a time
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  cleanup:
    name: Cleanup and Image Promotion
    uses: ./.github/workflows/.pr-close.yml
    permissions:
      packages: write
    secrets:
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      cleanup: helm
      cleanup_name: cstar
      packages: backend frontend migrations
      target: ${{ github.event.number }}

  cleanup_db: # TODO move it off to another action later.
    name: Remove DB User from Crunchy
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-crunchy@v1.2.6
        name: Remove PR Specific User
        with:
          oc_namespace: ${{ secrets.oc_namespace }}
          oc_token: ${{ secrets.oc_token }}
          oc_server: ${{ vars.oc_server }}
          release_name: cstar-db
          values_file: charts/crunchy/values-dev.yml
