name: PR

on:
  pull_request:
    types: [labeled, opened, reopened, synchronize]

concurrency:
  # Cancel in progress for PR open and close
  group: ${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  # https://github.com/bcgov/action-builder-ghcr
  builds:
    name: Builds
    permissions:
      attestations: write
      id-token: write
      packages: write
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        package: [backend, frontend, migrations]
    timeout-minutes: 10
    steps:
      - uses: bcgov/action-builder-ghcr@2b24ac7f95e6a019064151498660437cca3202c5 # v4.2.1
        with:
          package: ${{ matrix.package }}
          tags: ${{ github.event.number }}
          tag_fallback: latest
          triggers: ('${{ matrix.package }}/')

  # https://github.com/bcgov/quickstart-openshift-helpers
  deploys:
    name: Deploys (${{ github.event.number }})
    needs: [builds]
    uses: ./.github/workflows/.deployer.yml
    secrets:
      bcgov_sso_api_client_id: ${{ secrets.BCGOV_SSO_API_CLIENT_ID }}
      bcgov_sso_api_client_secret: ${{ secrets.BCGOV_SSO_API_CLIENT_SECRET }}
      oc_namespace: ${{ secrets.OC_NAMESPACE }}
      oc_token: ${{ secrets.OC_TOKEN }}
    with:
      db_user: app-${{ github.event.number }}
      params: --set backend.service.targetPort=4144 --set global.secrets.persist=false
      triggers: ('backend/' 'frontend/' 'migrations/' 'charts/' '.github/workflows/.deployer.yml')
      db_triggers: ('charts/crunchy/')

  tests:
    name: Tests
    if: needs.deploys.outputs.triggered == 'true'
    needs: [deploys]
    uses: ./.github/workflows/.tests.yml

  zap:
    name: ZAP Security Scan
    needs: [deploys]
    if: |
      contains(github.event.pull_request.labels.*.name, 'zap') &&
      needs.deploys.outputs.triggered == 'true'
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        name: [backend, frontend]
        include:
          - name: backend
            path: api
          - name: frontend
            path: ''
    steps:
      - name: ZAP Scan
        uses: zaproxy/action-full-scan@3c58388149901b9a03b7718852c5ba889646c27c
        with:
          allow_issue_writing: false
          artifact_name: zap-${{ matrix.name }}-pr${{ github.event.number }}
          target: https://cstar-pr-${{ github.event.number }}.apps.silver.devops.gov.bc.ca/${{ matrix.path }}
          token: ${{ secrets.GITHUB_TOKEN }}

  results:
    name: PR Results
    needs: [builds, deploys, tests, zap]
    if: always()
    runs-on: ubuntu-24.04
    steps:
      - if: contains(needs.*.result, 'failure')||contains(needs.*.result, 'canceled')
        run: echo "At least one job has failed." && exit 1
      - run: echo "Success!"
